<div class="description">
  <%= @request.description %>
</div>

<div class="responses">
  <% @request.responses.each_with_index do |response, index| %>
    <div class="response" id="response-<%= index %>">
      <span class="respondent-email"><%=response.user.email %></span>
    </div>
  <% end %>
</div>
